:root {
  --size : 25px;
  --blue : #12e7e7;
  --orange : #fea501;
  --white : #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Neonderthaw&family=Ultra&display=swap');
html,body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('/public/images/cave_wall.webp'); /* Public folder */
  background-size: cover;
  background-position: center;
}
.App {
  font-family: 'Monoton', cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(2*var(--size));
}


